body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(233,218,203,0.2)
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all .3s;
}


a:hover {
  text-decoration: none;
}

h3:before, h3:after{
  content: "";
  background-color: #555;
  display: inline-block;
  width: 170px;
  height: 1px;
  margin: 0 3.5rem;
  vertical-align: middle;
}

.container {
  width: 950px;
  padding: 0px 15px;
  margin: 0 auto;
}

.section-title {
  color: #555;
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
}

.section-title h3 {
  margin: 15px 0;
  font-size: 26px;
  font-weight: 600;
  padding-top: 20px;
  letter-spacing: 1px;
}

header {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(180, 174, 177,0.95);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.3);
  line-height: 80px;
}

.header-title {
  float: left;
}

.header-title img {
  height: 50px;
  margin-top: 15px;
}

.header-logo {
  font-size: 20px;
  padding-left: 10px;
  color: #fff;
  cursor: pointer;
}

.header-menu-right {
  float: right;
}

.header-menu-right li {
  float: left;
}

.header-menu-right a {
  font-weight: 500;
  color: #fff;
  padding: 15px;
}

.header-menu-right a:hover {
  color: #544851;
  transition: color .3s;
}




.footer {
  border-top: 2px solid #555;
  background-color: #6b5d62;
  color: #fff;
  height: 90px;
  padding: 20px 0px 50px 0px;
}

.footer-logo {
  float: left;
  padding-left: 10px;
  font-size: 15px;
}

.footer-right {
  font-size: 12px;
  float: right;
  padding-top: 18px;
}

.footer-right li {
  padding-bottom: 20px;
  padding-right: 15px;
}

.footer-list-right a {
  color: #fff;
}

.footer-list-right a:hover {
  color: #f0e68c;
  transition: color .3s;
}
